# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS Files
Thumbs.db
Desktop.ini
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Temporary Files
*.tmp
*.bak
*.sav
*.old
~*
